* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: sans-serif, Helvetica, Arial;
}

/* header / nav styles start */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/heroimage.jpeg") ;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 46px;
    color: aliceblue;
}

header h1 a {
    color: aliceblue;
}

header nav {
    margin: 7px 0;
  }
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: aliceblue;
    text-decoration: none;
  }

  header nav ul li a:hover {
    background: lightblue;
    color: darkblue;
    border-radius: 15px;
  }
  
/* header / nav styled end */

/*hero style begin */

.hero {
    background-image: url("../images/heroimage.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero img {
    width: 25%;
    padding: 25px;
}

.hero h2 {
    color: aliceblue;
    padding: 50% 0 50% 0;
}

/* hero section ends */

/* section title style begin */

.section-title {
    border-bottom: 3px solid;
    color: steelblue;
    padding-bottom: 20px;
    text-align: left;
}

/* section title style end */

/* my work section begins */

.work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-large {
    padding: 45px;
}

.work-large img {
    max-width: 65%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.work-small {
    padding: 30px;
}

.work-small img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}